
#####################################################################
#   Print Start
#####################################################################

#print_start tool_0_start={first_layer_temperature[0]} tool_1_start={first_layer_temperature[1]} BED={first_layer_bed_temperature[0]} initial_tool={initial_tool} isT0={is_extruder_used[0]} isT1={is_extruder_used[1]}

[gcode_macro print_start]
gcode:
  INITIALIZE_TOOLCHANGER
  STOP_DROP_DETECTION
  # Home the printer if not already done. 
  {% set t0_start = params.TOOL_0_START %}
  {% set t1_start = params.TOOL_1_START %}
  {% set bed_temp = params.BED %}
  {% set bed_close_low = params.BED|float-3 %}
  {% set bed_close_high = params.BED|float+15 %}
  {% set t0_used = params.IST0|upper %}
  {% set t1_used = params.IST1|upper %}
  # Head off tool head heatup to prevent oozing
  {% if t1_used == "TRUE" %}
    M104 S180 T1
  {% endif %}
  # Always head off T0, it is the probing tool head.
  M104 S180 T0
  # Make sure bed is at printing temperature, only necessary if the slicer has not sent over the gcode to set the bed temp. prior to calling print_start.
  M140 S{bed_temp}
  SMART_HOMING
  # Make sure T0 is at probing temps before moving forward.
  M109 S170 T0
  RESPOND MSG="Heat Soak"
  TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={bed_close_low} MAXIMUM={bed_close_high}
  TEMPERATURE_WAIT SENSOR="temperature_sensor bed_heater" MINIMUM={bed_close_low} MAXIMUM={bed_close_high}
  QUAD_GANTRY_LEVEL
  BED_MESH_CALIBRATE ADAPTIVE=1
  CARTOGRAPHER_TOUCH_HOME
  G0 Z40
  # Heat up only the nozzles used to printing temp
  {% if t1_used == "TRUE" %}
    M104 S{t1_start} T1
    {% if t0_used == "TRUE" %}
      M109 S{t0_start} T0
    {% else %}
      M104 S0 T0
      M109 S{t1_start} T1
    {% endif %}
  {% else %}
    M104 S0 T1
    M109 S{t0_start} T0
  {% endif %}
  # Here is wher I prime the used tools and set the first one used as the last one primed.
  # If T1 is used and T0 is the starting tool, prime T1 first.
  {% if t1_used == "TRUE" and params.INITIAL_TOOL|int == 0 %}
    # Switch to T1 and prime
    RESPOND MSG="Priming T1 and T0"
    T1
    PRIME_ACTIVE_TOOL T=1
    T0
    PRIME_ACTIVE_TOOL T=0
  # If T1 is used and T1 is the starting tool
  {% elif t1_used =="TRUE" and params.INITIAL_TOOL|int == 1 %}
    # If T0 is used, prime it first
    {% if t0_used == "TRUE" %}
      RESPOND MSG="Priming T0 and T1"
      T0
      PRIME_ACTIVE_TOOL T=0
      T1
      PRIME_ACTIVE_TOOL T=1
    {% else %}
      # T0 is not used, prime T1 only
      RESPOND MSG="Priming T1"
      T1
      PRIME_ACTIVE_TOOL T=1
    {% endif %}
  {% else %}
    # T1 is NOT used in the print, prime T0 only
    RESPOND MSG="Priming T0"
    T0
    PRIME_ACTIVE_TOOL T=0
  {% endif %}
  START_DROP_DETECTION
  M83

#####################################################################
#  Printer End
#####################################################################

[gcode_macro print_end]
gcode:
    # Move up by 10mm
    G91
    G0 Z10
    G90
    # Move toolhead to the rear
    G0 Y350
    # Switch to T0
    T0
    # Retract an extra 5mm, try to help oozing
    G0 E-2
    # Turn off heaters
    TURN_OFF_HEATERS
    # Turn off part fans
    M107
    STOP_DROP_DETECTION
#####################################################################
#  Prime Active Tool
#####################################################################

[gcode_macro prime_active_tool]
gcode:
  PURGE_LINE_LEFT
#####################################################################
#  Chip Purge
#####################################################################
## Chip purge macro swiped from doomcube discord. can't remember the author or channel :(
[gcode_macro CHIP_PURGE]
gcode:
    {% set purge_x = params.X_LOC|default(170)|float %}
    {% set purge_y = params.Y_LOC|default(50)|float %}
    G92 E0                          
    G90                            ; absolute positioning    
    G1 E4.0 F3600
    G1 Z10 F3000                   ; move nozzle away from bed
    ROUNDED_G0 X=170 Y=175 D=60 F=5000
    ROUNDED_G0 X={purge_x} Y={purge_y} Z=10 D=0     ; Move to start position
    G1 X{purge_x} Y{purge_y} Z17 E60 F60
    G1 X{purge_x} Y{purge_y} Z10 F5000
    M106 S255
    G4 P7500
    M106 S0

#####################################################################
#  Purge LINE
#####################################################################
## borrowed from a post by m00dawg

[gcode_macro PURGE_LINE_LEFT]
gcode:
  G90
  ROUNDED_G0 X=170 Y=175 Z=20 D=10 F=18000
  ROUNDED_G0 X=165 Y=60 Z=1 D=0 
  G1 Z0.2 F5000                      ; lower nozzle
  G91
  G1 X-90 E12.0 F1000.0          ; start intro line
  G1 Y25.0 E5.25 F1000.0          ; finish thicker
  G90

[gcode_macro update_git]
gcode:
  {% set message = params.MESSAGE|default() %}
  {% if message %}
      RUN_SHELL_COMMAND CMD=update_git_script_message PARAMS="'{params.MESSAGE}'"
  {% else %}
      RUN_SHELL_COMMAND CMD=update_git_script
  {% endif %}

[gcode_macro fix_git]
gcode:
  {% set message = params.MESSAGE|default() %}
  {% if message %}
      RUN_SHELL_COMMAND CMD=update_git_script_message PARAMS="'{params.MESSAGE}'"
  {% else %}
      RUN_SHELL_COMMAND CMD=fix_git_script
  {% endif %}

[gcode_shell_command fix_git_script]
command: bash -c "bash $HOME/klipper-backup/script.sh --fix"
timeout: 90.0
verbose: True


[gcode_shell_command update_git_script]
command: bash -c "bash $HOME/klipper-backup/script.sh"
timeout: 90.0
verbose: True

[gcode_shell_command update_git_script_message]
command: bash -c "bash $HOME/klipper-backup/script.sh -c \"$0\""
timeout: 90.0
verbose: True



[gcode_macro TEST_SPEED]
# Home, get position, throw around toolhead, home again.
# If MCU stepper positions (first line in GET_POSITION) are greater than a full step different (your number of microsteps), then skipping occured.
# We only measure to a full step to accomodate for endstop variance.
# Example: TEST_SPEED SPEED=300 ACCEL=5000 ITERATIONS=10

description: Test for max speed and acceleration parameters for the printer. Procedure: Home -> ReadPositionFromMCU -> MovesToolhead@Vel&Accel -> Home -> ReadPositionfromMCU

gcode:
    # Speed
    {% set speed  = params.SPEED|default(printer.configfile.settings.printer.max_velocity)|int %}
    # Iterations
    {% set iterations = params.ITERATIONS|default(5)|int %}
    # Acceleration
    {% set accel  = params.ACCEL|default(printer.configfile.settings.printer.max_accel)|int %}
    # Minimum Cruise Ratio
    {% set min_cruise_ratio = params.MIN_CRUISE_RATIO|default(0.5)|float %}
    # Bounding inset for large pattern (helps prevent slamming the toolhead into the sides after small skips, and helps to account for machines with imperfectly set dimensions)
    {% set bound = params.BOUND|default(70)|int %}
    # Size for small pattern box
    {% set smallpatternsize = SMALLPATTERNSIZE|default(20)|int %}
    
    # Large pattern
        # Max positions, inset by BOUND
        {% set x_min = printer.toolhead.axis_minimum.x %}
        {% if x_min < 0 %}
            {% set x_min = 0 %}
        {% endif %}
    
        {% set y_min = printer.toolhead.axis_minimum.y %}
        {% if y_min < 0 %}
            {% set y_min = 0 %}
        {% endif %}
    
        {% set x_min = x_min + bound %}
        {% set x_max = printer.toolhead.axis_maximum.x - bound %}
        {% set y_min = y_min + bound %}
        {% set y_max = printer.toolhead.axis_maximum.y - bound %}
    
    # Small pattern at center
        # Find X/Y center point
        {% set x_center = (printer.toolhead.axis_minimum.x|float + printer.toolhead.axis_maximum.x|float ) / 2 %}
        {% set y_center = (printer.toolhead.axis_minimum.y|float + printer.toolhead.axis_maximum.y|float ) / 2 %}
        
        # Set small pattern box around center point
        {% set x_center_min = x_center - (smallpatternsize/2) %}
        {% set x_center_max = x_center + (smallpatternsize/2) %}
        {% set y_center_min = y_center - (smallpatternsize/2) %}
        {% set y_center_max = y_center + (smallpatternsize/2) %}

    # Save current gcode state (absolute/relative, etc)
    SAVE_GCODE_STATE NAME=TEST_SPEED
    
    # Output parameters to g-code terminal
    { action_respond_info("TEST_SPEED: starting %d iterations at speed %d, accel %d" % (iterations, speed, accel)) }
    
    # Home and get position for comparison later:
        M400 # Finish moves - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/66
        G28
        # QGL if not already QGLd (only if QGL section exists in config)
        {% if printer.configfile.settings.quad_gantry_level %}
            {% if printer.quad_gantry_level.applied == False %}
                QUAD_GANTRY_LEVEL
                G28 Z
            {% endif %}
        {% endif %} 
        # Move 50mm away from max position and home again (to help with hall effect endstop accuracy - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/24)
        G90
        G1 X{printer.toolhead.axis_maximum.x-50} Y{printer.toolhead.axis_maximum.y-50} F{30*60}
        M400 # Finish moves - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/66
        G28 X Y
        G0 X{printer.toolhead.axis_maximum.x-1} Y{printer.toolhead.axis_maximum.y-1} F{30*60}
        G4 P1000 
        GET_POSITION

    # Go to starting position
    G0 X{x_min} Y{y_min} Z{bound + 10} F{speed*60}

    # Set new limits
    {% if printer.configfile.settings.printer.minimum_cruise_ratio is defined %}
        SET_VELOCITY_LIMIT VELOCITY={speed} ACCEL={accel} MINIMUM_CRUISE_RATIO={min_cruise_ratio}
    {% else %}
        SET_VELOCITY_LIMIT VELOCITY={speed} ACCEL={accel} ACCEL_TO_DECEL={accel / 2}
    {% endif %}

    {% for i in range(iterations) %}
        # Large pattern diagonals
        G0 X{x_min} Y{y_min} F{speed*60}
        G0 X{x_max} Y{y_max} F{speed*60}
        G0 X{x_min} Y{y_min} F{speed*60}
        G0 X{x_max} Y{y_min} F{speed*60}
        G0 X{x_min} Y{y_max} F{speed*60}
        G0 X{x_max} Y{y_min} F{speed*60}
        
        # Large pattern box
        G0 X{x_min} Y{y_min} F{speed*60}
        G0 X{x_min} Y{y_max} F{speed*60}
        G0 X{x_max} Y{y_max} F{speed*60}
        G0 X{x_max} Y{y_min} F{speed*60}
    
        # Small pattern diagonals
        G0 X{x_center_min} Y{y_center_min} F{speed*60}
        G0 X{x_center_max} Y{y_center_max} F{speed*60}
        G0 X{x_center_min} Y{y_center_min} F{speed*60}
        G0 X{x_center_max} Y{y_center_min} F{speed*60}
        G0 X{x_center_min} Y{y_center_max} F{speed*60}
        G0 X{x_center_max} Y{y_center_min} F{speed*60}
        
        # Small pattern box
        G0 X{x_center_min} Y{y_center_min} F{speed*60}
        G0 X{x_center_min} Y{y_center_max} F{speed*60}
        G0 X{x_center_max} Y{y_center_max} F{speed*60}
        G0 X{x_center_max} Y{y_center_min} F{speed*60}
    {% endfor %}

    # Restore max speed/accel/accel_to_decel to their configured values
    {% if printer.configfile.settings.printer.minimum_cruise_ratio is defined %}
        SET_VELOCITY_LIMIT VELOCITY={printer.configfile.settings.printer.max_velocity} ACCEL={printer.configfile.settings.printer.max_accel} MINIMUM_CRUISE_RATIO={printer.configfile.settings.printer.minimum_cruise_ratio} 
    {% else %}
        SET_VELOCITY_LIMIT VELOCITY={printer.configfile.settings.printer.max_velocity} ACCEL={printer.configfile.settings.printer.max_accel} ACCEL_TO_DECEL={printer.configfile.settings.printer.max_accel_to_decel}
    {% endif %}

    # Re-home and get position again for comparison:
        M400 # Finish moves - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/66
        G28 # This is a full G28 to fix an issue with CoreXZ - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/12
        # Go to XY home positions (in case your homing override leaves it elsewhere)
        G90
        G0 X{printer.toolhead.axis_maximum.x-1} Y{printer.toolhead.axis_maximum.y-1} F{30*60}
        G4 P1000 
        GET_POSITION

    # Restore previous gcode state (absolute/relative, etc)
    RESTORE_GCODE_STATE NAME=TEST_SPEED
    